[2016-08-22 14:15] devinhalladay opened #2 "Possible vital issue: Does the app break updates?"
I didn't experience any updates while testing this app, but it's *possible* that it breaks Spotify updates since it does break their developer certificate.

[2016-08-22 14:19] devinhalladay opened #3 "Fix the "broken app" bug"
Bug: When launching the app on a Mac after downloading, Mac OS X may tell the user that the app is broken and cannot be launched.

Reproduction steps:
- Download the app via the website or via Github's releases
- Change your Mac's security prefs to only allow apps from identified developers
- Launch the app
- The expected outcome is that the app will appear broken.

**Current workaround:**
- Go in

[2016-08-22 18:54] frogg opened #4 "Spotify is opened as normal without any change"
I downloaded the app (blue app icon in downloads folder).
The app icon in the dock changes to the normal green once the app is started and also the user interface is exactly the same as before (black, not white).

[2016-08-22 18:57] devinhalladay commented on #4
Hey! Make sure you quit your existing spotify app with cmd + q first, otherwise what you're describing will happen :)

[2016-08-22 18:58] devinhalladay commented on #4
Try that and please let me know if it works so I can close this!

[2016-08-22 18:58] frogg commented on #4
Hi Devin - thanks for your answer, that's what I did, but it still happened. Could this be related to the "Spotify Helper" app in autostart?

[2016-08-22 18:59] devinhalladay commented on #4
Hmm, possibly. Can you try quitting that via Activity Monitor and then launch Spotio?

[2016-08-22 19:02] frogg commented on #4
I found this one in activity monitor, but it's still not working after I quit all objects which have "Spotify" in their name.

![bildschirmfoto 2016-08-22 um 21 00 01](https://cloud.githubusercontent.com/assets/5204169/17867629/93954680-68ab-11e6-8311-74ce17c8759e.png)

[2016-08-22 19:02] devinhalladay commented on #4
Strange...what version of OS X are you running?

[2016-08-22 19:03] frogg commented on #4
El Capitan 10.11.6 (I think it's the newest non-beta).

[2016-08-22 19:08] devinhalladay commented on #4
Can you run `ps -ax` in your terminal for me and post the output here please? I'm not sure why it's not working but I have a feeling there's some kind of sneaky process still running that's preventing it from working.

[2016-08-22 19:08] devinhalladay commented on #4
Typically if the app launches and reverts to the old theme and icon it means another version of the OG Spotify.app is running somewhere

[2016-08-22 19:11] frogg commented on #4
Here you go:
[code]

[2016-08-22 19:14] devinhalladay commented on #4
Wow, so weird. I really expected there to be something running under a random name but I don't see anything. Would you be willing to try deleting both Spotio and your local Spotify.app, redownloading Spotio, and then trying? That'd be super helpful in this if you're willing

[2016-08-22 19:16] frogg commented on #4
Yes that worked :)

[2016-08-22 19:17] devinhalladay commented on #4
Awesome! If you'd like you can probably redownload the normal Spotify app now so you can have both, just be sure you keep them in different locations and quit one before you start the other!

[2016-08-22 19:18] devinhalladay commented on #4
Not sure about the root cause so I'll keep looking into it but I'm going to close this issue for now! Thanks for your help!!

[2016-08-22 19:18] #4 closed

[2016-08-22 22:24] sandervankasteel commented on #3
Your workaround doesn't work on mac OS Sierra (beta 5).

My current workaround of mac OS Sierra is, open the binary directly using a terminal.

[2016-08-22 22:27] devinhalladay commented on #3
Thanks for the bug report! Someone else also reported this via Twitter and it turns out Apple has either removed or disable opening apps from unidentified developers in the macOS Sierra betas.

A temporary workaround is to run `sudo spctl --master-disable` in Terminal to disable their protection from unidentified devs.

I *think* I can register as a developer with Apple and rebuild the app with my

[2016-08-22 22:34] sandervankasteel commented on #3
@devinhalladay thanks for your bloody quick response!

IIRC you only need the certificate to distribute apps in the Appstore and not for "normal" distribution on websites.

Your solution worked btw, thanks!

That being said, awesome work! 👍

[2016-08-22 23:19] devinhalladay opened #5 "Create internal update system"
We need an internal update system to keep everyone up-to-date with the latest version of Spotio.

I have absolutely zero experience with anything like that so I'd appreciate all the help I can get!!

[2016-08-22 23:55] avelis commented on #5
Not an expert in this either but have seen some suggestions to a feature for this on [wmail](https://github.com/Thomas101/wmail/issues/10)

Some comments made suggestions to:
  1. [sparkle-project](https://sparkle-project.org/)
  2. [electron-updater](https://www.npmjs.com/package/electron-updater)

The overall conclusion was cost of implementing a update/release system & signing the application f

[2016-08-23 01:32] evelynharthbrooke opened #7 "Windows support"
Is there any way that this can be ported to Windows? Would love to try this theme out but I have a Windows machine.

[2016-08-23 01:34] devinhalladay commented on #7
Ideally it should be coming this weekend! I’m going to start working on it
tomorrow :) I don’t want to leave anyone hanging! Linux support will
hopefully be coming as well.

On August 22, 2016 at 9:32:25 PM, Kamran Mackey (notifications@github.com)
wrote:

Is there anyway that this can be ported to Windows? Would love to try this
theme out but I have a Windows machine.

—
You are receiving this be

[2016-08-23 01:37] KamranMackey commented on #7
Awesome! I can't wait! +1 :smile:

[2016-08-23 07:34] sandervankasteel commented on #5
Last night, I had a quick look for the usual suspects in the Javascript files inside the OS X app. But I was unable to find any references to an auto-updater in the Javascript. Ideally that would be the best place to hook in a Spotio updater.

So my current guess is, that the update functionality is baked inside of the binary. :(

I hope there are some Javascript API calls available in CEF (Chromi

[2016-08-23 08:31] sandervankasteel opened #8 "Styling of the "Discover weekly" playlist"
The styling of the "Discover weekly" playlist isn't inline / consistent with the rest of the Spotio styling. From what I gathered from their JavaScript;

Source: `Contents/Resources/Apps/playlist-desktop/bundle.js`

Line 1341:
[code]

Spotify has added an exception for this particular use case. My best guess / suggestion to tackle this, is to do a CSS invert on the image / whole background div.

!

[2016-08-23 09:15] ryan2611 opened #9 "OSX forcing trash of app."
<img width="532" alt="screen shot 2016-08-23 at 10 13 51" src="https://cloud.githubusercontent.com/assets/2445329/17886596/7039138c-691a-11e6-8d3a-1be4922c98da.png">

Getting this upon opening.

[2016-08-23 09:15] #9 closed

[2016-08-23 12:47] devinhalladay commented on #5
Thanks for the help @avelis and @sandervankasteel!! Yeah I'm assuming they're doing updates via the binary, so it might not be possible to stop them entirely from within the app.

I think a good approach might be to create an external update helper (maybe with Sparkle or electron? I don't have any experience with either but I can look into them) that blocks outgoing connections to spotify's update

[2016-08-23 12:48] devinhalladay commented on #5
I'm not sure how that'd work logistically yet but in theory it'd be possible. I'm also very worried about how to diff Spotio's assets with Spotify's assets when an update occurs since Spotio's asset codebase is beginning to diverge from Spotify's default assets. Anyone have thoughts on this?

[2016-08-23 12:55] devinhalladay commented on #9
Assuming you managed to fix with with system security preferences?

[2016-08-23 12:57] devinhalladay commented on #8
I actually did do some styling on this — the CSS is in one of the `App` `style.css` files but I can't remember which one right now. Would you rather have an inverted image? My thought was to retain the original background image since it's supposed to be a night sky, but if we invert that it might just look off so we'll need to come up with a different header image. I'm open to suggestions!

[2016-08-23 13:05] devinhalladay opened #10 "Linux support"
Just creating an issue here so we have a place to talk about Linux support; it should theoretically be a simple porting process.

[2016-08-23 13:17] devinhalladay opened #11 "iOS support"
I'll begin looking into this later on this week. I have no idea if Spotify uses the same sort of skinning system in iOS but one can only hope.

If they do, skinning will be easy, but we will have to distribute the app via Cydia and AppAddict or iSignCloud in order to sign it on non-jailbroken devices. Are there any other methods to do this without jailbreaking?

[2016-08-23 14:42] pthm commented on #5
Bit of a shot in the dark here.

Would it not be possible to wrap the Spotify binary in an electron app that would check for new versions with a checksum and apply the needed skinning?

Then you could auto update changes to the skin and make sure that Spotify is always running on the latest version.

[2016-08-23 15:40] UdoKifferbrehl commented on #7
Awesome 😀

[2016-08-23 16:30] sandervankasteel commented on #5
My "attack" plan on this is based around a theory.

The rough theory : I doubt that Spotify will send a complete new binary DMG file to the client when an update is available. My guess is that they let the client fetch a zip / tar.gz / gzip / bz2 file with only the changes based on their current version. If that the case, they will probably have a patch / replace function in their big binary blob

[2016-08-23 16:37] sandervankasteel opened #12 "Android support"
I wanna see if this is possible, I don't think it is impossible but it all depends if Spotify does any obfuscation on their binaries files and how the internal structure is setup of the Android application.

[2016-08-23 16:46] darkwinternight commented on #11
Not that I know of, you listed all 3. With Cydia, you could use Mobile Substrate to inject code into into the Spotify process, making the whole thing more seamless (and also safe[r] with updates).

[2016-08-23 17:01] sandervankasteel commented on #5
Addition to my previous theory: this doesn't apply to to Linux, since it relies on the package manager of the local machine. The situation is unknown to me on Windows.

What is also an option is that we turn Spotio into a standalone patcher application using Electron or CEF and logistically we could still use the same method I described earlier with matching our versions with the Spotify versions.

[2016-08-23 18:46] sandervankasteel commented on #5
I just got home started Spotify and was able to see this screen;

![screen shot 2016-08-23 at 20 15 18](https://cloud.githubusercontent.com/assets/17492906/17904428/8ba00e3c-696f-11e6-8b6a-a9592691ae74.png)

From that I can only conclude that Spotify does some internal checksumming to check of the files have been tampered with. This is something we should take into account.

[2016-08-24 03:46] KamranMackey commented on #12
I would think that the Spotify app would use the same type of skinning system, all the apps are in one single cross-platform base.

[2016-08-24 06:12] darkwinternight commented on #2
Doesn't look like it does. Today, Spotify auto-updated and all Spotio changes were (obviously) lost. Setting the Spotify.app to Locked prevents this.

[2016-08-24 15:19] ColeTownsend opened #13 "Center button text"
![image](https://cloud.githubusercontent.com/assets/987654/17936368/966e9c02-69ec-11e6-8a38-2760060b8dac.png)

[2016-08-24 19:53] mixsta7 opened #14 ""Something broke. Failed to load error""
After downloading I've found the only page that can load is the Browse page. After that any other tab or page will not load what so ever. I made sure my Mac Security setting were correct with downloads from anywhere. I can build up a queue from my phone but after that it's pretty much unresponsive.
<img width="1280" alt="screen shot 2016-08-24 at 3 52 04 pm" src="https://cloud.githubusercontent.co

[2016-08-24 21:00] devinhalladay commented on #14
That's really odd, can you please try quitting all processes within activity monitor that are from spotify? I.e. Spotify.app, the Spotify web helper, etc

This is a new bug that hasn't been reported so I'll start there with the debug process

On Aug 24, 2016, 3:53 PM -0400, mixsta7 <notifications@github.com>, wrote:

[2016-08-24 22:27] pauldandurand opened #15 "Cannot launch after first download"
I downloaded the latest version 1.0.2 on August 24, 2016 on a Mac with the latest OS. Once unzipped and moved to the Applications folder, launching the app gives a message "Spotify.app is damaged and can't be opened. You should move it to the Trash." Attempted to re-download and open a couple times with the same issue.
![screen shot 2016-08-24 at 6 27 23 pm](https://cloud.githubusercontent.com/ass

[2016-08-24 22:32] pauldandurand commented on #15
My bad. Forgot to change security settings.

[2016-08-24 22:32] #15 closed

[2016-08-25 03:41] devinhalladay commented on #15
@pauldandurand hopefully I'll be able to figure out a permanent fix for this soon, I still haven't been able to completely identify the cause of the bug

[2016-08-25 03:43] devinhalladay commented on #13
Whoa, that's not good! If you wanna shoot a PR within the next few days that'd be stellar, if you're too busy let me know and I can resolve it myself next time I get a chance.

[2016-08-25 03:45] devinhalladay commented on #12
I don't see why it wouldn't be possible but I don't know anything about Android so this one's all on you guys if you want to see it come to fruition. I know Windows + Mac (and possibly Linux?) use the same skinning system, but I've yet to dig into iOS to see if it uses a similar system. If it does use CSS to style things then we'd have to rewrite the skin for iOS and Android specifically since the

[2016-08-25 03:48] devinhalladay commented on #11
I don't know anything about Mobile Substrate programming (or any iOS programming at all, for that matter) so this is a bit out of my wheelhouse. If anyone wants to try taking that task on, I'm all for it.

Otherwise I'll try digging into the app when I get a chance early/mid- next month to see they also use CSS to style the mobile app, and if they do I'll do my best to get it working with iSignClo

[2016-08-25 03:50] devinhalladay commented on #10
@sandervankasteel any chance you've had a bit of time to look into this?

[2016-08-25 03:58] devinhalladay commented on #7
It might be a few days later than expected because I'm dealing with a lot right now, but if anyone else wants to take the reigns on this until I'm back and ready to continue development, please feel free to submit a PR. It should be a simple porting process, and then all you need to do is add a task  or two to the `gruntfile` and we should be good to go

[2016-08-25 04:44] devinhalladay commented on #2
Got it, thanks! Interesting that Locking the app prevents updates; maybe I can leverage that to create the update system for #5

[2016-08-25 06:13] devinhalladay commented on #5
I'm thinking that that error is caused by having multiple versions of the Spotify app signed in on your computer. Not positive. I'm going to try to recreate their .spa file format (I believe it's just a .zip renamed to .spa, but when I tried doing that it didn't work correctly)

[2016-08-25 06:15] sandervankasteel commented on #10
@devinhalladay Yes I did, it isn't that hard! I want to finish it, this weekend.

[2016-08-25 06:19] devinhalladay commented on #5
@sandervankasteel I think your attack plan sounds good and logistically possible, we'll have to play around with some code and see if we can hack this together as an MVP before we can move forward with a release version though.

Another feasible (?) option would be to inject a helper that replaces all text matching a string in the updated assets with Spotio's own local strings (i.e. #333333 replac

[2016-08-25 06:19] devinhalladay commented on #5
Sorry if my thought process wasn't clear in that last comment; it's late and I'm exhausted. I'll clarify if anyone needs it.

[2016-08-25 06:45] sandervankasteel commented on #12
Regards to Android support, I just had a quick peek in the APK file for Android. Spotify builds the UI using the standard Android XML layout but the main problem is that is in a binary form (see screenshot below), so before we can even think about skinning the Android client. We need to find a Android de-compiler, that has support for decompiling Android XML layout files.

![screen shot 2016-08-25

[2016-08-25 06:48] sandervankasteel commented on #14
@mixsta7 which version of OS X / mac OS are you running ?

[2016-08-25 06:50] devinhalladay commented on #12
Thanks for the thorough research (and for confirming that Linux does indeed use the standard skinning platform).

It seems to me that Android will likely have to wait a while, as I don't know enough about Android development to coordinate an effort to skin the app. If you'd like to take this on as well at some point in the future I'd do what I can to get you the resources you need to get it workin

[2016-08-25 06:52] devinhalladay commented on #10
Great, thank you so much! I'm off to bed because it's 3am here but I'll check in on all the other issues in the morning. Thank you for all your help; I think you deserve an official recognition in the site/readme (along with Cole for his new icon design) :)

On Aug 25, 2016, 2:15 AM -0400, Sander van Kasteel <notifications@github.com>, wrote:

[2016-08-25 06:58] sandervankasteel commented on #12
Agreed, push it to the future. I will pick this port up once the Linux port is completed and I've had some to properly research Android decompilers. Unless anybody else wants to do it ?

[2016-08-25 07:01] sandervankasteel commented on #15
@pauldandurand just to able to diagnose this better, which version of OS X / mac OS are you running ?

[2016-08-25 07:04] sandervankasteel opened #16 "Follow / unfollow hover effect text alignment"
The text alignment of the follow / unfollow button is off when you follow an artist / playlist and hover over the button.

![screen shot 2016-08-25 at 09 01 35](https://cloud.githubusercontent.com/assets/17492906/17959804/ee2e5764-6aa2-11e6-81fa-d08b143cd97d.png)
![screen shot 2016-08-25 at 09 01 31](https://cloud.githubusercontent.com/assets/17492906/17959805/ee392824-6aa2-11e6-8ad8-e5e7a2cf7917.

[2016-08-25 10:10] sandervankasteel opened #17 "Differentiate between playable and unplayable songs"
For users (like me) who have enabled the setting "Show unavailable songs in playlists" there should be a visual differentiation between playable and unplayable songs. Currently they look the same.

![screen shot 2016-08-25 at 12 04 53](https://cloud.githubusercontent.com/assets/17492906/17965401/cba836a0-6abc-11e6-8844-c8485579d1f5.png)

Spotify's way of differentiation between playable and unplay

[2016-08-25 15:42] devinhalladay commented on #17
Got it, thanks for the bug report! Will fix this tonight.

On Aug 25, 2016, 6:10 AM -0400, Sander van Kasteel <notifications@github.com>, wrote:

[2016-08-25 16:24] mondaiguy opened #18 "Doesn't work on macOS Sierra?"
Won't open on Sierra. Known issue?

[2016-08-25 16:25] mondaiguy commented on #18
"Spotify.app is damaged and can't be opened. You should move it to the Trash."

Cancel / Move to Trash

[2016-08-26 04:47] devinhalladay opened #19 "PS4"
Apparently, there's a Spotify app for PS4...is it feasible to port Spotio over since PS4 doesn't allow homebrew code? Maybe code injection from the hard drive? I've no experience with the PS4 operating system so I don't know about the development process but if anyone knows anything on the subject please post a comment here and we can feel out whether this is even feasible—even if it is, this woul

[2016-08-26 04:59] #17 closed

[2016-08-26 05:00] devinhalladay commented on #16
Thanks!

[2016-08-26 07:52] Fequois commented on #19
I'm not an expert on the subject but I'm fairly certain that the PS4 hasn't been cracked yet, so no, you won't be able to modify let alone sideload an app on it.

Also for iOS and Android apps you'll probably have to start from scratch using the official SDKs or someone will come bite your ass. 😞

[2016-08-26 08:18] abarisain commented on #12
There are not many who do that well for recent android versions. Best in class is currently apktool, which will easily allow you to do what I want. Some people have made even bigger modifications: http://forum.xda-developers.com/showthread.php?t=2612319

That said, that's hoping spotify doesn't remotely inject views using java code, because that's gonna be really hard to patch

[2016-08-26 08:29] abarisain commented on #18
Nope, that doesn't work. Even by right clicking it and selecting open.
Removing signature using codesign --remove-signature works, but still can't be opened. I can't seem to be able to resign it using the adhoc profile

[2016-08-26 09:28] sandervankasteel commented on #12
Thanks @abarisain I will have a look soon :)

[2016-08-26 09:45] sandervankasteel commented on #18
My 'fix' / workaround for this issue was this:

https://github.com/devinhalladay/spotio/issues/3#issuecomment-241570828

[2016-08-26 16:06] devinhalladay commented on #19
@Fequois that's what I thought, thanks! Figured I'd ask here since my friend mentioned it late last night and I was curious. I'll close this for now but if PS4 ever is cracked or there's a glitch to allow homebrew code then I'll be all over this.

[2016-08-26 16:06] #19 closed

[2016-08-26 19:04] slash686 commented on #10
@sandervankasteel, Hey, do you need some help with this?

[2016-08-26 21:52] pauldandurand commented on #15
@sandervankasteel and @devinhalladay The version of my OS X is 10.11.6 (El Capitan)

[2016-08-26 22:47] sandervankasteel commented on #10
@slash686 I could use some help with testing because I'm porting it on Arch and double testing on Debian and Ubuntu. But I could always use some extra test machines

[2016-08-26 22:52] devinhalladay commented on #7
Would someone with a Windows machine take the lead on this? All you should need to do is unzip the .exe, study the structure a bit, then write a grunt task to inject out asset files back into the .exe. I would do it but I'm back on campus now and the wifi is pretty bad so my windows VM isn't downloading

[2016-08-27 03:05] prediscover commented on #7
:( unfortunately I do not know how to do what you mentioned, otherwise i would!!

[2016-08-27 07:34] KamranMackey commented on #7
@devinhalladay Spotify on Windows doesn't have the assets embedded into the application. They have the assets in their own separate folder under %AppData%/Roaming/Spotify/Apps. Screenshot is below:

![Spotify Assets](https://cloud.githubusercontent.com/assets/1617100/18025961/50c53bc8-6bf6-11e6-9e60-aeac230de628.png)

[2016-08-27 14:06] devinhalladay commented on #7
Thank you so much for the research! Would you be willing to write a grunt copy command for Windows? If not I can likely do it tonight but I'll need help with testing since I can't get my VM downloaded

On Aug 27, 2016, 3:34 AM -0400, Kamran Mackey <notifications@github.com>, wrote:

[2016-08-27 14:27] pauldandurand commented on #15
@devinhalladay does your Spotio app work the same as the Spotify app where it will occasionally play advertisement for those of us who have a free account? I ask because if I listen to Spotify via their web app, I never run into ads, whereas, if I listen to Spotify's own local Mac app, it does interrupt with ads. I stopped listening to their Mac app for that reason. I'm assuming your app would als

[2016-08-27 14:28] devinhalladay commented on #15
That's 100% correct. I styled the ads to fit the theme but that's it. I *could* in theory remove them but that would be just another reason for Spotify to come after me and take down this project

On Aug 27, 2016, 10:27 AM -0400, Paul Dandurand <notifications@github.com>, wrote:

[2016-08-27 14:31] pauldandurand commented on #15
Got. Thanks for the fast response. I shouldn't complain since I don't pay Spotify and I get free music. I used to pay for Pandora's yearly ad-free membership, but didn't use it that often. I will see if I will listen to Spotify more and maybe upgrade to ad free.

[2016-08-27 19:20] devinhalladay commented on #7
Oh no!! I just realized we need to create an installer for Windows if the Asset files are not stored within the app...how can we do this? I *definitely* need help on this one. Maybe use electron to build a little helper app that runs a grunt task in the background and copies over the files??

[2016-08-27 19:22] devinhalladay commented on #7
@ColeTownsend do you happen to know if I can use electron to do what I mentioned above ^^? That might actually be all we need to solve the issues with updating the app to match spotify's update cycle anyways

[2016-08-27 23:01] KamranMackey commented on #7
@devinhalladay Electron is a really extensible framework, I think it would be possible.

[2016-08-27 23:36] Dafnik commented on #7
I could program an "installer" in C# which can also download files etc.

[2016-08-27 23:58] devinhalladay commented on #7
C# would be good for Windows but I think building a single cross platform installer would be most beneficial so maybe electron is the best route and we can package reusable code in all three app formats (exe, app, deb)

On Aug 27, 2016, 7:36 PM -0400, Dominik Dafert <notifications@github.com>, wrote:

[2016-08-28 03:53] 1ca1 opened #20 "alert saying app is damaged?"
![image](https://cloud.githubusercontent.com/assets/3229499/18031496/2c623e6e-6c98-11e6-9718-e1facd695055.png)

I keep getting this, after downloading from multiple browsers.

¯\_(ツ)_/¯

I really appreciate you working on this, I love the design and am just excited to use it.

[2016-08-28 03:56] devinhalladay commented on #20
Read the website/readme, or look through the existing issues. This is a known issue and has been solved with a temporary workaround and the solution is right on the site above the fold

On Aug 27, 2016, 11:53 PM -0400, Cameron Alexander <notifications@github.com>, wrote:

[2016-08-28 05:19] 1ca1 commented on #20
dang, I see it now. thank you and sorry for the spam.

[2016-08-28 05:19] #20 closed

[2016-08-28 18:06] sandervankasteel commented on #10
Spotio on Linux is a fact!! :D

![screenshot from 2016-08-28 20-03-48](https://cloud.githubusercontent.com/assets/17492906/18035688/c8436dfe-6d5a-11e6-8e87-65445fc6a950.png)

I just need to smooth out some details @devinhalladay and then I will have a pull request for you!

[2016-08-28 21:37] devinhalladay commented on #20
Oh no! I'm sorry if I came across as salty haha, you caught me right when I had woken up. Thanks for closing the issue :) enjoy spotio! Make sure yore subscribed to the newsletter on the site because we have some major updates coming in the next few weeks

On Aug 28, 2016, 1:19 AM -0400, Cameron Alexander <notifications@github.com>, wrote:

[2016-08-28 22:09] devinhalladay commented on #10
Omg yay!!! You rock!!!! Can't wait to share this with everyone :) I'm gonna edit the site and readme and give you soooo much credit for this

On Aug 28, 2016, 2:06 PM -0400, Sander van Kasteel <notifications@github.com>, wrote:

[2016-08-28 23:42] Quacky2200 commented on #2
I was just thinking, how about creating an automated bot for new Spotify releases so that instead of having Spotify deliver their updates, you can get the updates first before you give them out to the Spotio users and prevent the Spotify updates updating the changes? This would require some work but it would help prolong the experience when people update? Assuming you can get the updates directly

[2016-08-29 01:24] mjgiarlo commented on #10
🍻

[2016-08-29 12:04] janfehlis opened #21 "After restart back to black version"
When I restart Spotio the white UI is gone. Have to reinstall it to enjoy the nice UI. Any suggestions?

I am using OS X 10.11.6

[2016-08-29 12:16] sandervankasteel commented on #21
Could you check the Spotify version for me ?

[2016-08-29 12:58] devinhalladay commented on #21
You're on the right track sander I think it updated.

Your best bet is to redownload when it updates until we come up with an update system for spotify. Classes start today for me so I'm in the studio for 12 hours straight today and have long hours the rest of the week but I'll start looking into it this weekend

On Aug 29, 2016, 8:16 AM -0400, Sander van Kasteel <notifications@github.com>, wrote:

[2016-08-29 13:08] devinhalladay commented on #21
Referencing #5 just for the sake of easy issue navigation

[2016-08-29 13:40] sandervankasteel commented on #21
@devinhalladay that's what my thought as was well.

[2016-08-29 13:50] devinhalladay commented on #21
Gonna close this for now. @janfehlis just go ahead and redownload spotio and subscribe to the mailing list so we can let you know when we release an update system!!

[2016-08-29 13:50] #21 closed

[2016-08-29 19:49] devinhalladay commented on #13
Okay I have literally no idea where the code for this is, does anyone else wanna take a look?

[2016-08-29 19:53] devinhalladay commented on #13
I thought maybe it was `$button-line-height` but nah

[2016-08-29 19:56] devinhalladay commented on #13
I think this is entirely my fault tbh, pretty sure I forgot to change some line-height value to the variable and idk where it is

[2016-08-29 20:08] ColeTownsend commented on #13
Ahh ok, it's affecting me inconsistently (just here) so I would not say hi
priority
On Mon, Aug 29, 2016 at 3:56 PM Devin Halladay <notifications@github.com>
wrote:

[2016-08-29 20:08] devinhalladay commented on #16
This looks related to #13 as well

[2016-08-29 20:15] ColeTownsend commented on #16
Wondering if hard coding it on both elements will work better? I cannot find this puppy.

[2016-08-29 20:23] devinhalladay commented on #16
Yeah I may try that, still not sure which elements to target though/how high to make the specificity so as to not break future updates that add new buttons with the same .b-button-add class (I think that's what the class is, can't check cause I'm in class right now lol)

[2016-08-29 21:03] sandervankasteel commented on #10
Pull request is standing by at #22

[2016-08-29 22:01] swrobel commented on #18
Works for me on Sierra PB7 (also worked on PB6 before I updated today). I have "Allow apps downloaded from" set to "App Store and identified developers" under Security & Privacy.

[2016-08-30 01:41] devinhalladay commented on #10
You're a hero!!! Will review and merge tomorrow :)

On Aug 29, 2016, 5:03 PM -0400, Sander van Kasteel <notifications@github.com>, wrote:

[2016-08-30 08:37] sandervankasteel commented on #18
@swrobel You probably have to re-run `sudo spctl --master-disable`. This command will disable GateKeeper, because most likely GateKeeper was enable after the update in Sierra.

[2016-08-30 08:38] abarisain commented on #18
To anybody reading this, this is a really bad idea. It's stuff like that that allowed Xcodeghost to spread. Ideally we should figure out a way for everybody to self-resign the app

[2016-08-30 08:55] sandervankasteel opened #23 "Resigning OS X / Mac OS application"
On OS X / Mac OS we need a way to resign the Spotify.app, so we don't have to keep telling users to disable their GateKeeper (which is just generally a bad idea).

This issue relies on the outcome of issue #5 . Because if we choice to create our patcher application, we need to add to that patching process, that we resign the application with "our" keys or the user's local keys (which are accepted

[2016-08-30 12:54] devinhalladay commented on #23
Yep this is definitely a necessity. I'll read through the article when I get a chance but I'm thinking in the installer/patcher app we can *probably* just call an external applescript to sign this with the user's keys. The only issue is that I'll need to register for a dev certificate for the patcher itself, but I guess that's just the cost of doing this right

[2016-08-30 13:00] devinhalladay opened #24 "Linux support shell script: restructure generative project structure"
This issue is just to remind myself that I need to restructure the things being generated by the shell script a *tiny* bit to keep up with project convention on OS X

[2016-08-30 13:57] devinhalladay commented on #18
I *think think THINK* that if we rebuild the .spa files on Mac properly that everything will return to normal and the certificate will not break. I wasn't sure how until @sandervankasteel submitted his Linux PR so I'm going to reuse your repackaging code and see if it helps. Will publish a new release in a few minutes and I could use as much help Mac testing as possible to ensure this works (with

[2016-08-30 14:04] abarisain commented on #18
Will it? Every file is checksummed

What I have no idea, is why codesign fails to resign it manually, even if the signature is stripped

[2016-08-30 14:35] sandervankasteel commented on #18
@devinhalladay I doubt that it will.. Because your changes to the contents of the spa file changed the checksum of the .spa file and that in turn changes the checksum of the complete .app. So you need to re-checksum the complete Spotify.app. To do that codesign uses 2 parts, the checksum of the files and the developers certificate. You can always resign it with your own local certificates, that sh

[2016-08-30 14:53] abarisain commented on #18
That's the stuff that needs to be figured out. Sadly, even with the beta Xcode, codesign says that spotify is corrupted when trying to resign it :/

[2016-08-30 15:18] sandervankasteel commented on #18
Ugh, that sucks :( Have you tried removing the complete _CodeSignature directory inside the .app, and then resigning it ?

[2016-08-30 15:20] abarisain commented on #18
Yes. also tried codesign --remove-signature

[2016-08-30 15:55] sandervankasteel commented on #18
Have you tried an application like: https://github.com/steakknife/unsign yet?

[2016-08-30 15:56] abarisain commented on #18
Nope, but the description says " (note: unsigned binaries cannot currently be re-codesign'ed. Patches welcome!)", which explains a lot :)

[2016-08-30 15:59] sandervankasteel commented on #18
Yeah but technically our binary is a
signed with a certificate from Spotify, albeit invalid after our modifications

[2016-08-30 15:59] abarisain commented on #18
Yes, I mean that since this app prevents re signing, it won't help

[2016-08-30 18:05] sandervankasteel commented on #23
Before:
![screen shot 2016-08-30 at 20 01 13](https://cloud.githubusercontent.com/assets/17492906/18100863/d3714f96-6eec-11e6-90c3-edbfc6621c93.png)

After:
![screen shot 2016-08-30 at 20 01 17](https://cloud.githubusercontent.com/assets/17492906/18100858/ceaffa02-6eec-11e6-80d3-c981b3fbaf50.png)

I managed to resign my own local Spotify.app with my own locally created certificates! :D

I just nee

[2016-08-30 18:10] sandervankasteel commented on #18
@abarisain Have a look at my last comment in #23 ;)

*happy dancing*

[2016-08-30 18:14] abarisain commented on #23
Nice! I assume a 'codesign "-"' didn't do the trick, right?

We could build a autopatcher. I have lots of ObjC/Swift experience, so writing OSX apps is definitely in my reach. We could let spotify update itself, and an app could resign it.

Or we could script it for @devinhalladay, who would then publish updated builds signed by himself, whenever he made sure nothing broke and we'd be good. Then a

[2016-08-30 18:17] sandervankasteel commented on #23
It was f*cking easy..

This how I fixed it; `sandervankasteel` is my locally installed and created codesigning certificate and then the option -f forces to replace it's current signing.
[code]

[2016-08-30 20:47] DrMajkrosoft commented on #10
Tried to run the script on Ubuntu 16.04.1, from the terminal I get this error code:

`setup-linux.sh: 6: [: x86_64: unexpected operator`
`setup-linux.sh: 14: setup-linux.sh: Bad substitution`

I know that the code says:

`if [ `uname -m` == 'x86_64' ]; then
  ARCH="amd64"
else
  ARCH="i386"
fi`

But I still wanted to give it a try since I saw that it can run on Arch.
Anyways, nice work you done th

[2016-08-30 20:52] mjgiarlo commented on #10
@DrMajkrosoft I'm curious... if you change `==` to `=` on line 6, does that fix you up?

[2016-08-31 08:09] sandervankasteel commented on #10
@DrMajkrosoft which shell are you using ? Because I've tested it with bash, and I had no problems. So if you don't use bash, that's also something you can try.

[2016-08-31 10:40] KamranMackey commented on #7
@devinhalladay Yeah. But when will Windows support be done?

[2016-08-31 11:22] DrMajkrosoft commented on #10
Changing the operator from " == " to " = " fixed the issue on line 6, but I still get the line 14 error. I've tried to run the script from the terminal. I'm not really into programming, I only know the operators in C# and some basic programming, so you won't get much help from me, I'm just reporting the feedback from Ubuntu, I'm sure everything works fine on Arch.

[2016-08-31 11:33] sandervankasteel commented on #10
@DrMajkrosoft I will test it tonight on a VM, see if I get the same results on Ubuntu 16.04.1

[2016-08-31 12:28] d0od88 commented on #10
Anecdotal, but I was also able to run the _setup-linux.sh_ without any issues on Ubuntu 16.04.1 using `./setup-linux` in the stock terminal app.

[2016-08-31 12:49] DrMajkrosoft commented on #10
It works now! Thanks @d0od88  for the tip, turns out I was using bad commands, I used "sh setup-linux.sh" instead of "./setuo-linux.sh". I'm really sorry, everything's fine now, it works on Ubuntu 16.04.1. Thanks once again.
![screenshot from 2016-08-31 14-46-59](https://cloud.githubusercontent.com/assets/12301022/18129221/05750080-6f8a-11e6-9c93-222708e2e9a6.png)

[2016-08-31 14:30] sandervankasteel commented on #5
I wanna see if I can build a MVP of an Electron / CEF patcher application, this weekend. It's definitely gonna be "quick 'n dirty", barely functioning and will most likely only support Linux and Mac OS for the moment. But should give a clear direction if it feasible to go into this direction.

[2016-08-31 14:35] sandervankasteel commented on #10
I did spot that the icon needs to be updated.

@ColeTownsend could you send me the original icon files / upload it to this repo ? Then I can make sure the proper icons will be loaded on Linux.

[2016-08-31 18:00] ColeTownsend commented on #10
@sandervankasteel I can't find the sketch file ATM, but I can export about every file type under the sun from my IconSlate file.
[Spotio-Icon.zip](https://github.com/devinhalladay/spotio/files/447964/Spotio-Icon.zip)

[2016-08-31 18:17] ViBE-HU commented on #10
I cannot install the application. It says that hdiutil is missing.

[2016-08-31 20:37] sandervankasteel commented on #10
Thanks @ColeTownsend from what I can currently see from that file, that is everything I need.

[2016-08-31 22:45] devinhalladay commented on #5
Thanks, go for it! Just a basic proof of concept would be cool and if it's possible we can run with it and I can work on the Windows support and clean it all up based on your MVP. I wish I could put more time into the project right now but I'm super busy with school

[2016-09-01 13:53] sandervankasteel commented on #5
@devinhalladay Right now my school hasn't started yet, so I have some spare time left! Once my school starts I will have the same problem ;)

[2016-09-01 18:18] Pival81 commented on #10
i don't know if somebody cares, but i made an aur package for this: https://aur.archlinux.org/packages/spotio/

[2016-09-02 06:56] sandervankasteel commented on #10
@Pival81 thanks, you beat me to it ;)

[2016-09-03 07:11] Pival81 commented on #10
Wouldn't it better to have a custom .desktop file, instead of using the default Spotify one? I read that someone even made an icon for Spotio, maybe we can use that one.

[2016-09-03 18:10] mjgiarlo commented on #10
:-1:

[2016-09-05 08:35] sandervankasteel commented on #10
@Pival81 a few comments above, I already mentioned it : https://github.com/devinhalladay/spotio/issues/10#issuecomment-243784056

[2016-09-05 09:09] Pival81 commented on #10
@sandervankasteel oh, sorry :)

[2016-09-05 09:11] sandervankasteel commented on #10
No problemo @Pival81.

@devinhalladay could you close this issue ? Since it's already addressed and currently only used for small-talk / "unrelated" stuff to Linux support

[2016-09-06 03:54] #10 closed

[2016-09-06 03:56] #24 closed

[2016-09-06 04:02] devinhalladay commented on #5
So, I think scripting it would be the best option (springing off of the conversation in #23)—my thought currently is that this is what we need:
- helper app (cross-platform, obviously), to block connections to Spotify's update servers
- an option (developer mode, not sure how this would work yet) so that I can bypass the connection block and test new updates on my machine
- this helper app will *a

[2016-09-06 04:05] devinhalladay commented on #5
Any thoughts on that? It's the only way I can think of doing this pragmatically—we **need** to block Spotify's update servers, one way or another, in order to keep our updates flowing smoothly, and we also need to have our own streaming update system in place. This will likely mean that I need to restructure the build system in order to more readily make updated assets (`.spa`'s) available to the

[2016-09-06 04:05] #11 closed

[2016-09-06 04:06] devinhalladay commented on #12
Closing this issue for now because logistically this is impossible without some more dedicated resources

[2016-09-06 04:06] #12 closed

[2016-09-06 04:30] devinhalladay opened #25 "Spotify broke our build system"
So, Spotify started using an installer instead of directly downloading the .app inside a .zip. This means our build system/setup for the build system is entirely broken.

I'm looking into workarounds now, but this may add a good deal of complication to our future development process

[2016-09-06 06:06] sandervankasteel commented on #25
@devinhalladay Thanks that you are posting this in the issue tracker. I'm taking this in consideration while I'm still building the MVP for the Electron patcher application.

[2016-09-08 02:53] devinhalladay commented on #5
Looks like we can probably just use this, but Linux will have to fall by the wayside https://medium.com/@svilen/auto-updating-apps-for-windows-and-osx-using-electron-the-complete-guide-4aa7a50b904c#.929r70t30

[2016-09-09 09:05] Pival81 opened #26 "Spotify doesn't like spotio's icons."
I maintain the [spotio package on the AUR](https://aur.archlinux.org/packages/spotio/), and wanted to use a modified .desktop file and icons instead of the default spotify ones.
So this morning i worked to replace all the icons, but spotio doesn't want to use them.
Here are the file permission of normal spotify:
[code]
And the window icon is right:
![selezione_002](https://cloud.githubusercontent.

[2016-09-12 19:54] devinhalladay commented on #5
Starting work on this now, using Electron.

[2016-09-23 19:52] Pival81 commented on #7
it should be easy, just create an installer using winrar.

[2016-09-23 21:34] devinhalladay commented on #7
We need cross-platform installer and updater before we can bring support to a new platform. Otherwise we're just further segmenting the spotio codebase in a bad way and essentially releasing bad software.If you'd like to contribute, the plan is to use electron

[2016-09-24 04:54] Pival81 commented on #7
I don't think we can create a cross-platform installer, because linux needs packages (and there are at least three kind of packages: deb, rpm, pkg.tar, depending on the distribution), macos needs .app, and windows stores the files you have to edit in the AppData folder.
So i think our best bet is to have multiple maintainers for all kind of installer.

[2016-09-24 17:32] devinhalladay commented on #7
Cross-platform is entirely doable because we're not installing an app, we're just replacing the files inside the Spotify app. All we need to do is identify which OS the user is on, then run the code to replace the files in that system's specific asset file location, and then we're done. Same with the updater. I'm not worried about linux because we have a script already to install it there, and tha

[2016-09-24 17:33] devinhalladay commented on #7
I'm looking to minimize the amount of work we have to do in the longrun because I am far too busy to continue maintaining Spotio on my own, let alone making sure three separate codebases follow the same standards

[2016-09-24 17:34] devinhalladay commented on #7
Again, we're not *actually* installing any app as of now; we're just running scripts to replace `App` files with the Spotio version.

[2016-09-24 17:40] devinhalladay commented on #7
However, for the time being, if you'd like to make an MVP for the Windows version of the installer (and updater; they need to come as a package and the installer will also install and update helper that blocks spotify updates from coming through and instead checks for updates from our github releases), then feel free and I'll check it out. If it looks good and you're willing to maintain it, that'l

[2016-10-10 21:11] #26 closed

[2016-10-26 23:24] barnai opened #27 "is there any other alternative for codesign on sierra OS X"
I used sketch pro, the trial is over
and now it asks even for the Sketch up Make for educational use license as well,
if there is any idea how can it be fixed it would be appreciated.

[2016-10-27 04:43] devinhalladay commented on #27
Hey, I don't really understand your question here. This project is unrelated to Sketch.

[2016-10-27 04:43] devinhalladay commented on #27
Can you clear up what you mean? If not I'm going to go ahead and close this issue

[2016-10-27 09:18] barnai commented on #27
you might be close, since it not a project, Im just looking  for a guidemap  how to  master reset the trial version, because I can't even use for educational purposes the   Sketch up Make, and since it is running Sierra OS X codesign is not  works on it.

[2016-11-25 20:10] sos-michael opened #28 "The Updated Spotify Interface Slightly Break Spotio"
![screenshot from 2016-11-25 12-07-05](https://cloud.githubusercontent.com/assets/5377184/20634657/eec1675e-b307-11e6-94e8-0c7a4781a5e0.png)

Its not terrible, just the new bottom bar. I don't really now where to begin or I'd submit a pull request, but honestly it looks like one new color element. Hopefully it won't take long!

[2016-12-02 17:58] amrthameen opened #29 "Spotio doesnt open"
Hi, I cant seem to open Spotio, its telling me its damaged. Can you help? Thank you

[2016-12-02 19:15] sandervankasteel commented on #29
@amrthameen is this on OS X ?

[2016-12-02 19:18] amrthameen commented on #29
@sandervankasteel  OS Sierra

[2016-12-02 19:23] sandervankasteel commented on #29
@amrthameen you need to resign your binary or disable GateKeeper on MacOS. Although disabling GateKeeper isn't a recommended method, it is the easiest to do.

A while back I managed to resign the Spotio / Spotify application with my own keys; more info on this can be found here: https://github.com/devinhalladay/spotio/issues/23

[2016-12-13 12:48] WillDimarco opened #30 "Spotio quits shortly after opening and is replaced with regular Spotify"
@devinhalladay

  @sandervankasteel Hey (fe)ma(le)n(s).

Love all the work you've done, it looks amazing, and I am super glad it's out in the open. But I have been having a major problem, I downloaded the app a few minutes ago. And although i have set my mac to automatically accept opening applications from foreign places, my computer still asked, but it opened anyways, so i thought that was fine.

[2016-12-13 13:34] sandervankasteel commented on #29
@amrthameen did my comment resolve your issue ?

[2016-12-13 13:47] sandervankasteel commented on #30
Hi @WillDimarco,

The flashing that you are experiencing isn't weird to see. That's because of Spotio and how it's white background is applied.

But the main issue you are having, is that Spotio is replaced with a new version of Spotify. That's because of the internal updater of Spotify. In the past Spotify would only update the components it used but nowadays after an update is found, (on OS X /

[2016-12-13 13:54] WillDimarco commented on #30
Thank you so much! I will definitely look into those other issues to fix my own. Thanks again!

Wilco

[2016-12-13 13:56] sandervankasteel commented on #30
No problem :+1:

@devinhalladay can you close this issue ?

[2016-12-14 02:46] WillDimarco commented on #30
i don't know how haha

[2016-12-14 07:13] devinhalladay commented on #30
Hey guys, thanks for working through this! @WillDimarco I apologize for all these issues; I released Spotio right as school started back up so I lost the opportunity to keep updating Spotio and the time to work on an updater application to patch files after Spotify issues an update. Hopefully this will come sooner or later (but, in the meantime, you may want to check out Pandora's new streaming se

[2016-12-14 07:13] #30 closed

[2016-12-14 12:52] sandervankasteel commented on #30
@devinhalladay No problem 👍  I wanna be able to have a minimal MVP code for the patcher done when my winter break from school is done. At first I think it will only support OS X, but that should give us at least a baseline on where Spotify is heading towards regarding updating and how we should structure our patcher application. So we could eventually set it up so it's multiplatform.

[2016-12-14 21:37] sandervankasteel commented on #27
@devinhalladay since this issue isn't related to Spotio, I think we can close this one right ?

[2016-12-14 21:41] sandervankasteel commented on #28
@devinhalladay can you add the label `bug` and assign it me ? I wanna see, if I can fix this issue this weekend.

[2016-12-14 21:42] sandervankasteel commented on #14
Since no reply from @mixsta7, we can close this one @devinhalladay ?

[2016-12-17 05:20] sos-michael commented on #28
Thanks for taking the time to look at this!

[2016-12-17 19:00] #14 closed

[2016-12-17 19:02] devinhalladay commented on #28
@sandervankasteel I added the label but for some reason github won't let me assign the issue to you

[2016-12-17 19:05] devinhalladay commented on #29
I'm gonna go ahead and close this issue since it's inactive but if the issue persists just tag me and I can reopen it

[2016-12-17 19:05] #29 closed

[2016-12-17 19:06] devinhalladay commented on #27
Yeah this was a bizarre one, gonna go ahead and close

[2016-12-17 19:06] #27 closed

[2016-12-17 19:18] sandervankasteel commented on #28
@devinhalladay thanks for making me collaborator! I know the `drill`.. Pushing code directly to `master` equals treating everybody to cake :wink:

[2016-12-17 21:38] luki opened #31 "Font suggestion"
Not really an issue, but still.
Rdio used 'Whitney', good alternatives are:
 Museo Sans, FF Dagny, FF Meta, or Ratio

[2016-12-17 21:54] devinhalladay commented on #31
Thanks for the suggestions! For the sake of sticking with Rdio's interface choices (because that's what Spotio is all about!) I'm going to keep the type set in Whitney for the future but if you'd like to try out another typeface feel free to fork this and compile your own version.

[2016-12-17 21:54] #31 closed

[2016-12-17 22:31] luki commented on #31
@devinhalladay Won't this lead to legal issues, as Whitney is not free?

[2016-12-17 22:57] devinhalladay commented on #31
I'm not too worried about it, if I get a DMCA I'll just switch it out for something else. But by that logic I couldn't use Museo of Dagny or Meta either; all of those require licenses

[2017-01-10 02:28] Jhonmark24 commented on #7
please aplication ,thanks

[2017-01-10 02:30] devinhalladay commented on #7
Hey guys, it doesn't look like Windows support will be coming any time soon. I will hopefully be updating the Mac app in the next few weeks to work better with the latest Spotify design updates, but beyond that I'm not sure how much time I will be able to commit to Spotio until the summer. I'm not giving up on the project but I just don't have the time or energy to commit to it right now. I will s

[2017-01-14 14:40] jnylen commented on #28
@sandervankasteel,
Any fix regarding this?

[2017-02-06 21:29] VitorDias7 opened #33 "Overall color"
Hi!

First of all i want to congratz for the amazing job and effort that you did here!
But there are one thing that i dont personally like (maybe there are more people saying the same), its about the overall color of text. I think that its to bright that I find its hard to read. My sugestion is make font color more darker and maybe more thicker.

Thank you for attencion!
Greetings

[2017-02-20 10:30] FadeMind opened #34 "Daily Mix link does not showing in Spotio Theme"
Daily Mix Link is not visible on Spotio Theme and it is DARK from original theme:
**spotify 1.0.49.125-1**
Manjaro x86_64

![screenshot_20170220_112635](https://cloud.githubusercontent.com/assets/9846948/23121120/77f2024a-f75f-11e6-9818-54a58598dc2c.png)

Link for Daily Mixes GONE, I closed app when Daily Mix Tab was showed up, so after new launch with Spotio Theme in box is dark default

![screen

[2017-03-25 02:04] sophielorenz commented on #3
@devinhalladay Your terminal hack worked but only for a split second! If I close the application it reopens and reloads the darker UI. I uploaded proof that it worked, super bummed it was on for a few seconds, I really appreciate you making this app.

<img width="1295" alt="screen shot 2017-03-24 at 9 01 44 pm" src="https://cloud.githubusercontent.com/assets/23085927/24318567/70663138-10d5-11e7-94

[2017-03-25 02:23] sophielorenz commented on #3
Hold up. I reinstalled the app and it seemed to be working for a solid minute and then this pops up…

<img width="415" alt="screen shot 2017-03-24 at 9 18 51 pm" src="https://cloud.githubusercontent.com/assets/23085927/24318733/f629b5a4-10d7-11e7-875a-d767a9e27579.png">

This happened after I gave it several more tries. It force closes itself and then immediately opens back up with the white UI, b

[2017-03-27 15:36] ChiChou commented on #3
A simple hack is to copy the whole .app directory with no metadata. Absolutely finder and cp command both keep the flag, so does tar. All you need is to copy the .app file by reading and writing the bytes manually.

These commands bypasses the GateKeeper for me:

[code]

[2017-03-27 16:46] devinhalladay commented on #3
Hey all!! I've been so busy with school that I haven't had time to keep on development.

Here's the story: Spotify broke my development system by issuing a large restructure to their update system as well as to the way their application loads styling assets in the app on launch. I haven't had time to look into another workaround to get Spotio working again, but I haven't given up yet and as soon a

[2017-04-01 16:40] sophielorenz commented on #3
Gah, I wish I were a terminal guru, but I’m not at all. I really didn’t understand your last email a bit to be honest. I will wait for the next version of Spotio and check back for updates. Thanks!

On Mon, Mar 27, 2017 at 10:36 AM CodeColorist

<
mailto:CodeColorist <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

A simple hack is to copy the whole .ap

[2017-04-02 13:50] IcarusKai opened #35 "."

[2017-04-03 13:33] #35 closed

[2017-04-03 18:02] devinhalladay commented on #35
@IcarusKai awesome, thank you! I'd appreciate it that if you create this in a separate repo, make that repo a fork from this one so when you're finished I can merge the windows version into the repo.

The goal with this project is to have a unified build system that can distribute the styling files directly into a .exe, .app, as well as a .deb or whatever Linux distros might need, so that we only

[2017-07-13 00:01] ghost opened #36 "Does not launch on macOS 10.12.5"
![screen shot 2017-07-12 at 7 58 48 pm](https://user-images.githubusercontent.com/25700362/28144939-875afff0-673c-11e7-9c19-b2626d0f5b8e.png)

[2017-07-13 21:05] thekevinboyle commented on #36
Under system preferences >> Security >> General >> Allow apps downloaded from anywhere

To enable this option you need to run the following:

From Terminal
sudo spctl --master-disable

[2017-08-18 08:59] seokster opened #37 "Spotify Update Shuts Down Skin"
I've installed Spotio but the auto update on Spotify keeps getting rid of the skin. I've tried methods of stopping Spotify's auto update but to no avail.

[2017-08-22 01:22] devinhalladay commented on #36
Hey, this is a known issue and something I'm unprepared to fix, as the time investment is too large for my availability.

@thekevinboyle thanks for jumping in with the workaround; for anyone else who stumbles into this issue I'd like to stress that I don't recommend this workaround, and that if you'd like Spotio to work I will always welcome contributors to this repo 🤓

Closing as wontfix for now,

[2017-08-22 01:22] #36 closed, assigned to nobody

[2017-09-02 23:43] alexslee commented on #37
Yeah, I'm not even sure if it's auto-update at this point, as I receive the message to restart to actually perform the update after Spotio force-closes (which happens maybe < 30 seconds into the first open). Tried patching with a script to prevent auto-updates, which stopped the message from appearing, but the app still crashed and re-opened to the original dark color scheme.

[2017-10-09 19:27] markfried96 commented on #37
Is there any chance to get the Skin work again? I really like the design of the Spotio App. I hope there will be any solution very soon.

[2017-10-11 14:15] devinhalladay commented on #37
Hey everyone —

Spotify does auto-update; they broke the vulnerability I was using to inject Spotio no more than a week after Spotio was originally released. I still don't have the time to get Spotio up and running again (it is doable, and I have a lot of good ideas for what to do with it once it's working again), though.

If any of you have spare time and want tot take a crack at re-injecting Spo

[2017-10-13 09:41] jnylen commented on #37
FYI,
Spotio still works with arch. I'm running it now.

[2017-10-24 08:12] a-rock-lobster opened #38 "“Spotify” is damaged and can’t be opened."
“Spotify” is damaged and can’t be opened. You should move it to the Trash.

System message after unzipping and opening.

Is this currently working? looks great.

[2017-10-24 10:41] #38 closed, assigned to nobody

[2017-11-04 11:57] a-rock-lobster opened #39 "Is this project still active?"
Sorry, not really an issue. I have been going through the live issues and can't quite tell if this is supposed to be functioning on mac atm… I haven't been able to get it working personally but I'm no whizz.

[2017-11-04 18:49] devinhalladay commented on #39
Nope, I do not have the time to maintain this and Spotify did some new things with their update system that break the way I inject the custom CSS. I welcome any contributions & pull requests, but until I have time to revisit this (I likely never will), this project is dead in the water.

[2017-11-04 18:49] #39 closed, assigned to nobody

[2017-11-27 19:17] kiosion commented on #37
I was having the same issue - and I partially fixed it. I used this [script](https://www.quora.com/How-can-I-prevent-Spotify-from-auto-updating-on-Mac) to try and fix it, then I went into "Get Info" (I'm using Mac OSX) and Locked the app. Now it crashes every 30 seconds or so, but it doesn't revert to the old spotify skin.

I love this project and would really like to have a working version - It l

[2017-12-07 20:13] GeroldSetz commented on #7
Hi Devin,
any news on Windows support?

Best, Gerold

[2017-12-07 20:21] devinhalladay commented on #7
@GeroldSetz nope, I do not have the time to keep maintaining this project, and beyond the milestone of establishing Windows support, we would need to redo most of the code for Spotio because Spotify has changed their system so much.

Feel free to submit a pull request if you want to take a stab at either of these things.

[2017-12-07 20:23] devinhalladay commented on #37
I'd still like to get this project working again, but definitely don't have the time to do this myself.

If any of you technical users who like Spotio and want to see it working again would like to submit a pull request to help fix this issue, that would be extremely appreciated.

[2018-02-16 14:22] devinhalladay opened #40 "Update skin to new version of Spotify CSS"
The Spotify app has changed drastically since the last version of Spotio was released, so before we can even think about fixing the crashes and beginning to distribute Spotio again, we need to update the CSS.

If anyone has time to contribute, it would be greatly appreciated!

[2018-02-20 04:02] madya121 commented on #40
Hi, I would love to contribute on this project 😃 .

[2018-02-21 19:46] jnylen commented on #40
JFYI, @devinhalladay Archlinux AUR port worked last time I used it.
It's just that some menu items are missing.

[2018-03-30 16:57] LambArchie commented on #40
Currently using Spicetify to mod my Spotify https://github.com/khanhas/Spicetify
While it is currently Windows only as it uses Rainmeter for the GUI you could always just manually run the lua files after changing the locations of files and choosing the settings. It is also based of a linux only script https://github.com/actionless/oomoxify so you could use that instead for your base.

[2018-08-24 10:26] ghost opened #41 ""Spotify" is damaged and can't be opened."
Hi all,

From reading around, I'm under the impression that Spotio is no longer in development, and any errors aren't correctable.

That, just in case I'm being dense; I downloaded and unzipped, and when opening the app receive the error "Spotify" is damaged and can't be opened."

I take it the app is currently not useable?

[2018-08-24 12:34] devinhalladay commented on #41
@Tomifonication correct, the app has been broken for some time and I do not have time to continue development on my own. Feel free to submit a PR to fix if you want to help out; I'm happy to take a moment to explain how everything works if the docs aren't sufficient.

Closing as wontfix.

[2018-08-24 12:34] #41 closed, assigned to nobody

[2018-10-04 14:18] BitesizedLion opened #42 "Windows Version?"
Is a Windows Version possible?

[2018-10-05 11:04] jnylen commented on #42
@BitesizedLion,
This isn't really developed at all anymore.

[2018-10-05 14:47] devinhalladay commented on #42
Yeah, sorry @BitesizedLion @jnylen, I haven't had any time since release to fix the release after Spotify broke my theme development workflow, so I haven't even thought about the windows version. However, theoretically, the Windows version still works the same. I looked into it at one point, and Spotify stores the theme files in a system directory somewhere as HTML, JS, and CSS. If you can find th

[2018-10-05 14:47] #42 closed, assigned to nobody

[2018-11-27 11:01] peteseta opened #43 "Doesn't work on MacOS Mojave 10.14?"
It crashes on launch and says "Spotio quit unexpectedly" Using version 1.02

[2018-11-30 15:57] devinhalladay commented on #43
Spotio is no longer being maintained. Feel free to contribute if you'd like to see it live on!

[2018-11-30 15:57] #43 closed, assigned to nobody

[2019-04-06 12:44] geraltofrivia opened #44 "Doesn't work on Elementary OS"
I'm running Spotio on Elementary OS - Juno, built on Ubuntu 18.04.2 LTS (running GTK+ 3.22.30).

When I open this the layout is visible for a split second, after which it fades into complete white rendering the application unusable.

I've uploaded a low res screen cap of the entire thing - [Giphy Link](https://github.com/devinhalladay/spotio.git)

Any idea what is going wrong here?
Thanks

[2019-04-06 12:45] geraltofrivia commented on #44
Clarification: I cloned the current commit - ba84b176006e33fc833dc3acf3f40f52022e36c9 and ran ./setup-linux.sh and installed the deb.

[2019-04-06 17:29] jnylen commented on #44
@geraltofrivia,
This project is basically dead. Just use Spicetify instead.

[2019-07-15 21:10] robni7 commented on #41
I used `sudo xattr -cr [path to the unzipped Spotify.app]`. After this I could open the app.
Hope this helps, regards, Robni7

[2021-02-23 07:15] Montago opened #45 "Spotify self-heals after modifying the SPA files"
I just tried manually implementing the theme, by injecting theme files into the SPA files.

When opening Spotify, the SPA files was "healed" by spotify - by re-downloading the SPA file.

I guess this needs to be countered some way for this Theme mod to work ..